header {
  background-color: rgb(0, 55, 46);
  display: flex;
  flex-direction: column;
}

.logoEImg {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.logoHeader {
  margin-bottom: 18px;
  margin-left: 2%;
  width: 90px;
}

.imgENome {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 30px;
  margin-right: 2%;
  padding: 10px;
  text-decoration: none;
}

.userImg {
  width: 30px;
  border-radius: 50%;
}

.userName {
  margin: 0;
  margin-left: 5px;
  color: black;
}

nav {
  align-items: center;
  background-color: rgb(238, 241, 238);
  border-bottom: 2px solid rgb(203, 204, 201);
  display: flex;
  font-size: 30px;
  justify-content: space-around;
  text-align: center;
}

.search {
  border-right: 2px solid white;
  color: rgb(69, 205, 146);
  font-weight: 900;
  padding: 10px;
  text-decoration: none;
  width: 33.4%;
}

.profile {
  border-left: 2px solid white;
  color: rgb(69, 205, 146);
  font-weight: 900;
  padding: 10px;
  text-decoration: none;
  width: 33.3%;
}

.favorites {
  border-left: 2px solid white;
  border-right: 2px solid white;
  color: rgb(69, 205, 146);
  font-weight: 900;
  padding: 10px;
  text-decoration: none;
  width: 33.3%;
}
